node_modules
.next
.vercel
.env
.env.local
.env.*.local
.npm-cache
dev-server.log
dev-server.err.log
dev-out.log
dev-err.log
start-out.log
start-err.log
.next-start.log
.next-start.err.log
*.tsbuildinfo

.vercel
